@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-primary: rgb(0,0,0);
  --color-primary-hover: rgb(25,25,25);
  --color-secondary: rgb(241,241,241);
  --color-secondary-hover: rgb(233,233,233);
  --color-bg: rgb(255,255,255);
  --color-text: rgb(0,0,0);
  --color-text-primary: rgb(255,255,255);
  --color-text-secondary: rgb(109,109,109);
  --color-text-dimmed: rgb(128,128,128);
  --color-accent: rgb(0,180,204);
  --color-like: rgb(255,84,84);
  --color-danger: rgb(202,62,62);
  --color-warning: rgb(255,239,185);
  --color-text-warning: rgb(183,152,74);
  --color-links: rgb(93, 142, 230);
}

[data-theme="dark"] {
  --color-primary: rgb(52,66,83);
  --color-primary-hover: rgb(42,78,95);
  --color-secondary: rgb(36,36,36);
  --color-secondary-hover: rgb(41,41,41);
  --color-bg: rgb(28,28,28);
  --color-text: rgb(204,204,204);
  --color-text-primary: rgb(204,204,204);
  --color-text-secondary: rgb(128,128,128);
  --color-text-dimmed: rgb(109,109,109);
  --color-accent: rgb(0,157,178);
  --color-like: rgb(255,84,84);
  --color-danger: rgb(83,52,52);
  --color-text-warning: rgb(215,183,74);
  --color-warning: rgb(61,45,5);
  --color-links: rgb(14, 99, 251);
}

img[src*="Logo.png"] {
  transition: filter 0.3s ease;
}
[data-theme="dark"] img[src*="Logo.png"] {
  filter: brightness(0) invert(1);
}