@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
@theme {
  --color-primary-main-light:rgb(0,0,0);
  --color-primary-hover-light: rgb(25, 25, 25);
  --color-secondary-main-light:rgb(241,241,241);
  --color-secondary-hover-light:rgb(233,233,233);
  --color-bg-main-light:rgb( 255,255,255);
  --color-black-text:rgb(0,0,0);
  --color-secondary-text: rgb(101, 101, 101);
  --color-white-text:rgb(255,255,255);
  --color-links: rgb(60, 110, 236);
  --color-accent-light:rgb(2,176,192);
}